/*
 * Estilos de tu proyecto
 */

 * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 *:before,
 *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 /*Estilo global*/
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }


 body {
   font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
   margin: 0 auto;
   font-size: 16px;
   line-height: 1.71429;
   background-color: #fff;
 }


/*estilos para el menu*/
 .a {
   color: #373B47;
   text-decoration: none;
 }

 .a:hover {
   color: #E95853;
   background-color: rgb(24, 188, 156);
 }

 header {
   background-color: black;
   position: fixed;
 }
 .menu{
  padding: 14px 70px;
  overflow: auto;
}

.textoBlanco {
color: white;
}

.centrarT{
  text-align: center;
}
.alinear{
  padding-left: 150px;
}



 /*imagen modal*/
#modalArea {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    background-color: rgba(0, 155, 0, 0.50);
}

.modal-img {
    width: 50%;
    border: 10px solid blue;
    margin-left: 25%;
    text-align: center;

}

#close {
    top: 30%;
    color: #009b71;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    margin-left: -50px;
    margin-top: -100px;
}

    #close:hover {
        color: #6fffd8;
        cursor: pointer;
}

.alinearIzq{
float: right;
}

/* estilos de boton */
.centrarBoton{
  width: 200px;
  margin: 0 auto;
}
/*estilos para el formulario*/

.btn{
  display: inline-block;
  margin: 1em 0 0 0;
}




.ajustarFormulario{
  margin-left: 34%;
}
.bordeFormulario{
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;

}
.bordeMesaje{

  border-left: 0;
  border-right: 0;
}
.colorM{
  border-top: solid 	#eee;
  border-bottom: solid 	#eee;
  border-width:  2px;

}

footer {
  text-align: center;
  height: 70px;
  background: #233140;
  color: white;
  padding-top: 7px;
}



.fondoContacto{
  background-color: #2C3E50;
}
.textBlanco{
  color: white;
}
.textoColor{
  color: rgb(24, 188, 156);
}
.linea{
  text-decoration: none;
}

h3, h2 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 25px;
}
h1{
  font-size: 400%;
  text-transform:uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}
button{

  overflow: hidden;
  text-transform: none;
  padding: 2px 10px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 6px;
  touch-action: manipulation;
  cursor: pointer;
}
.estiloBoton{
  color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    font-weight: 700px;
}
.descarga{
border-color: white;
border-style: solid;
}

.logoSeparar{
  margin-left: 25%;
  margin-right: 25%;

}

.tamaño{
  font-size: 25px;
}
